:root {
  --base-backgroundcolor: #06080fdd;
  --base-textcolor: #c8c5c6;
  --base-input-backgroundcolor: #0e1729;
  --base-btn-backgroundcolor:#38bdf8;
  --base-textfont: 20px;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-backgroundcolor);
    color: var(--base-textcolor);
    font-size: var(--base-textfont);
}
#Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#Information h1 {
    text-align: center;
    width: 90%;
}
#Information h3 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

#Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#Box-Day {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#Box-Hour {
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#Box-Minute {
    grid-area: 2/4/3/5;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#Box-Second {
    grid-area: 2/5/3/6;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
.Box {
    color: var(--base-btn-backgroundcolor)
}
p {
    margin-top: -20px;
}

@media screen and (max-width: 450px) {
    #Information h1,
    #Information h3 {
        font-size: 20px ;
    }
   #Container {
    font-size: 45%;
   }
}